<header>
    <nav class="nav_contacto">
      <ul class="contacto">
        <li>
          <a href=".">
            <i class="fa-solid fa-envelope"></i>
            <span></span>
          </a>
        </li>
        <li>
          <a href=".">
            <i class="fa-solid fa-phone"></i>
            <span>91 555 66 77</span>
          </a>
        </li>
        <li>
          <a href=".">
            <i class="fa-solid fa-shopping-cart"></i>
            <span>Carrito</span>
          </a>
        </li>
        <li>
          <a href=".">
            <i class="fa-solid fa-user-circle"></i>
            <span>Usuario</span>
          </a>
        </li>
      </ul>

      <div class="nav_menu">
        <img src="./img/logo.jpg" alt="logo_rovers" />
        <ul class="desplegable">
          <li><a href="./index.html" class="desplegables">Inicio</a></li>
          <li><a href="./blog.html" class="desplegables">Blog</a></li>
          <li><a href="./menu.html" class="desplegables">Menu</a></li>
          <li class="hamburguesa">
            <i class="fa-solid fa-bars"></i>
          </li>
        </ul>
      </div>

      <ul class="desplegable_mobile">
        <li><a href=".">Inicio</a></li>
        <li><a href=".">Blog</a></li>
        <li><a href=".">Menu</a></li>
      </ul>
    </nav>
  </header>