<main class="main_menu">
    <h2>Menu del <span class="servicios">día</span></h2>
    <div class="linea">
      <hr />
      <span>X</span>
    </div>

    <div class="section_menu">

      <div class="div_menu_izquierda">
          <ul>
              <li class="bckgr">Breakfast</li>
              <li class="bckgr">Lunch</li>
              <li class="bckgr">Dinner</li>
          </ul>
          <div class="ofertas_dia">
              <h3>Ofertas del día</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente mollitia recusandae 
                  laborum ipsam placeat fugit tempora? Nobis ab possimus 
                  voluptatem, magni provident vero dolorem ad optio fugiat modi dolor obcaecati.
              </p>
          </div>
      </div>
      <div>
          <article class="articulo_menu">
              <img src="./img/t1.jpg" alt="burger">
              <div class="div_parrafo">
                  <h3>Chicken Burguer With Cheese and Butter <span>$95</span></h3>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut cupiditate tenetur corrupti libero, 
                      amet recusandae dolorum aliquam commodi 
                      pariatur assumenda eveniet ipsam nulla voluptatum tempora nobis sequi earum vel. Veritatis?
                  </p>
                  <div>
                      <a href="." class="leer">
                      leer más
                      <i class="fa-solid fa-long-arrow-alt-right"></i>
                      </a>
                  </div>
              </div>
          </article>
          <article class="articulo_menu">
              <img src="./img/t4.jpg" alt="cafe">
              <div class="div_parrafo">
                  <h3>Coffee and Tea with Milk and Chocolate <span>$30</span></h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quasi sunt, quos esse nemo 
                      possimus ullam laboriosam culpa dolor, reiciendis, quae enim obcaecati laborum neque asperiores 
                      deserunt architecto vitae voluptatum!
                  </p>
                  <div>
                      <a href="." class="leer">
                      leer más
                      <i class="fa-solid fa-long-arrow-alt-right"></i>
                      </a>
                  </div>
              </div>
          </article>
          <article class="articulo_menu">
              <img src="./img/t3.jpg" alt="pollo">
              <div class="div_parrafo">
                  <h3>Hot Pizza With Extra Cheese and Butter <span>$65</span></h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, deserunt nesciunt optio ex 
                      dolores perferendis repellendus laudantium, accusamus dicta placeat quibusdam aut! Repellat totam, 
                      non rerum maiores optio vel recusandae.
                  </p>
                  <div>
                      <a href="." class="leer">
                      leer más
                      <i class="fa-solid fa-long-arrow-alt-right"></i>
                      </a>
                  </div>
              </div>
          </article>
      </div>

    </div>

  </main>