@keyframes bajar {

    from{
        transform: translatey(-200px);
    }
    to{
        transform: translatey(0px);
    }

    
}

header{
    height: 30vh;
    background-color: bisque;

    h1{
        animation: bajar 2s 1;
    }

    .menu{
        border: 1px solid red;

        h3{
            background-color: grey;
            display: inline;
            /*transition: background-color 1s;*/
            transition: background-color 1s ease-in, color 2s ease-in-out, font-size 2s linear;
            /*transition: all 2s linear;*/
            /*
            ease-in, ease-in-out, linear;
            */
        }

        h3:hover{
            background-color: black;
            color: white;
            font-size: 45px;
            /*transform: scale(0.8);*/
        }
    }
}

.desplegable{
    display: none;
}

.hamburguesa:hover .desplegable{
    display: block;
}

