<form (ngSubmit)="handleForm()" class="form">

    <div class="form-field">
        <label for="name">Nombre</label>
        <input type="text" name="name" placeholder="Nombre" [(ngModel)]="userForm.name">
        @if(userForm.name === "" && isSubmitted === true){
            <div class="form-field--text-danger">falta nombre</div>
        }
    </div>

    <div class="form-field">
        <label for="surname">Apellido</label>
        <input type="text" name="surname" placeholder="Apellido" [(ngModel)]="userForm.surname">
        @if(userForm.surname === "" && isSubmitted === true){
            <div class="form-field--text-danger">falta apellido</div>
        }
    </div>

    <div class="form-field">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Email" [(ngModel)]="userForm.email">
        @if(userForm.email === "" && isSubmitted === true){
            <div class="form-field--text-danger">falta email</div>
        }
    </div>

    <div class="form-field">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" [(ngModel)]="userForm.password">
        @if((userForm.password === "" || userForm.password.lenght < 6) && isSubmitted === true){
            <div class="form-field--text-danger">falta password, recuerda que tiene que tener mas de 6 char</div>
        }
    </div>

    <button class="form-field" type="submit">Enviar formulario</button>

</form>