
<div [class.dark-mode]="isDark" class="app-container">
    <header class="content">
        <h2>Eventos, Binding & ControlFlow</h2>
        <label class="switch">
          <input type="checkbox"  />
          <span class="slider" (click)="toggleTheme()"></span>
        </label>
      </header>

      <!-- Property Binding ([])
        [] se utiliza para el binding unidireccional desde el componente hacia la vista. Permite enlazar una propiedad de un componente con un atributo de un elemento HTML en la vista. -->
        <!-- Event Binding (())
         () se utiliza para escuchar eventos en la vista y enviar las interacciones del usuario hacia el componente. Permite enlazar un evento (como click, input, mouseover, etc.) a un método o función en el componente. -->
     
        <main>
        <div class="card">
          <h3>Evento Click</h3>
          <p class="description"><em>Se dispara al hacer clic en el elemento.</em></p>
          <p>Haz clic aquí para probar un evento de click.</p>
          <button (click)="handleClick('Joshua')">click!</button>
        </div>
      
        <div class="card">
          <h3>Evento Change</h3>
          <p class="description"><em>Se dispara al cambiar el valor de un campo.</em></p>
          <select (change)="handleChange($event)">
            <option value="" disabled selected>Cual es tu deporte favorito</option>
            <option value="futbol">Futbol</option>
            <option value="boxeo">Boxeo</option>
            <option value="tenis">Tenis</option>
          </select>
          <p>Seleccionaste: {{selectValue}}</p>
        </div>
      
        <div class="card">
          <h3>Evento Input</h3>
          <p class="description"><em>Se dispara cada vez que el usuario escribe algo.</em></p>
          <input type="text" (input)="handleInput($event)"  placeholder="Escribe algo..." />
          <p>Valor: {{inputValue}}</p>
        </div>
      
        <div class="card">
          <h3>Evento Mouseover</h3>
          <p class="description"><em>Se dispara al pasar el ratón sobre el elemento.</em></p>
          <p (mouseover)="handleMouseOver()">Pasa el ratón por encima para probar este evento.</p>
        </div>
      
        <div class="card">
          <h3>Evento Keydown</h3>
          <p class="description"><em>Se dispara al presionar una tecla.</em></p>
          <input type="text" (keydown)="handleKeydown($event)"  placeholder="Presiona una tecla" />
        </div>

      
        <!-- El control flow en Angular se refiere al manejo de la lógica condicional y de repetición en las vistas, utilizando directivas estructurales como:
        @if: Se usa para mostrar u ocultar elementos del DOM basado en una condición booleana.
        @for: Permite iterar sobre una colección y renderizar un elemento del DOM por cada ítem. -->
        <div>
            <h3>Ejemplos de Control Flow</h3>
            <div>
              <p>Estos ejemplos incluyen &#64;If, &#64;For y más.</p>
            </div>
        </div>

        <div class="control-flow">
          @for (character of charactersList; track character.id; let idx=$index) {
            <div class="card">
              <h1>{{character.name}} - {{idx}}</h1>
              <img src={{character.image}} alt={{character.name}}/>
              <button (click)="borrar(idx)">Eliminar personaje</button>
            </div>
          }@empty {
            <h2>No hay personajes en la lista</h2>
          }
        </div>

        @if (name.length>5) {
          <h2>El nombre {{name}} tiene mas de 5 letras</h2>
        }@else {
          <h2>El nombre {{name}} tiene menos de 5 letras</h2>
        }

        <div class="control-flow">
          @for (character of charactersList; track character.id) {

            @if(character.species == "Human"){
              <div class="card">
                <h1>{{character.name}}</h1>
                <img src={{character.image}} alt={{character.name}}/>
              </div>
            }@else if (character.species !== "Human") {
              <h2>{{character.name}} no es humano</h2>
            }

          }
        </div>

        <div class="control-flow">

          @for (persona of personasList; track persona.id) {
            @if (persona.isActive) {
              <h3>Nombre: {{persona.name}}, tiene: {{persona.age}} años y esta activo</h3>
            }@else {
              <h3>Nombre: {{persona.name}}, tiene: {{persona.age}} años y no esta activo</h3>
            }
          }
        </div>

        

      </main>
</div>

  